API_KEY=404d85980fe1b8e998cf06f1a23d1338
MONGO_URI=mongodb+srv://bara:Willisamah123@cluster0.ifvgmvp.mongodb.net/?appName=Cluster0
MONGODB_NAME=weather_db
MONGODB_COLLECTION_NAME=weather_data


# PostgreSQL configuration
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=Willisamah123
PG_DATABASE=postgres
